{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "extends": ["@dmsi/eslint-config", "prettier", "plugin:react/recommended"],
  "plugins": ["react", "react-hooks"],
  "rules": {
    "max-len": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ],
    "no-console": "off"
  },
  "globals": {
    "window": true,
    "fetch": true
  }
}
