.animatedContainer {
  height: 50px;
  width: 100px;
  position: absolute;

  background-image: url('https://storage.googleapis.com/wwcd-storage/photos/ticket.png');
  background-size: contain;


  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    top: 8px;
    text-align: center;
    width: 80%;
    font-size: 15px;
    position: absolute;
    line-height: 16px;
  }
}

.bowlBackground {
  top: 300px;
  left: calc(50% - 300px);
  height: 300px;
  width: 600px;
  background-color: white;
  position: absolute;
  z-index: 100;

  .bowl {
    background-color: #0075C4;
    height: 300px;
    width: 600px;
    border-radius: 0px 0px 300px 300px;
    position: absolute;
    z-index: 100;
    left: calc(50% - 300px);

    > div {
      position: absolute;
      top: 0;
      left: -2.5%;
      width: 105%;
      height: 40px;
      background-color: #00486B;
    }

    > span {
      position: absolute;
      top: 45%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 4em;
      color: #fff;
      text-align: center;
      line-height: 1.1em;
      text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    }
  }
}

.modalContentContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;

  > span {
    position: absolute;
    top: 53%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8em;
    color: #fff;
    text-align: center;
    line-height: 0.9em;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  }
}
