@mixin no-text-selection {
  /* No text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.animatedContainer {
  aspect-ratio: 2;
  width: 8vw;
  position: absolute;

  background-image: url('https://storage.googleapis.com/wwcd-storage/photos/ticket.png');
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  @include no-text-selection;

  text-align: center;
  vertical-align: center;
  > {
    @include no-text-selection;

    text-align: center;
    vertical-align: center;
    width: 80%;
    font-size: 1.5vh;
    position: absolute;
    line-height: 2vh;
  }
}

.bowlBackground {
  top: 10vh;
  left: calc(50% - 30vh);
  height: 30vh;
  width: 60vh;
  position: absolute;
  z-index: 100;

  .bowl {
    background: repeating-linear-gradient(30deg, #0075c4, #0075c4 3vh, #f0f3f5 3vh, #f0f3f5 6vh);
    height: 30vh;
    width: 60vh;
    border-color: #131b23;
    border-radius: 0 0 36vh 36vh;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    position: absolute;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      @include no-text-selection;

      position: absolute;
      top: 0;
      left: -2.5%;
      width: 105%;
      height: 5vh;
      background-color: #005a98;
      border-radius: 6px;

      color: #f0f3f5;
      text-align: center;
      font-size: 4vh;
      line-height: 5vh;
      overflow: hidden;
    }

    > span {
      @include no-text-selection;
      align-self: center;
      justify-self: center;

      padding: 0.1em;

      background-color: #0075c4;
      border-color: #f0f3f5;
      border-radius: 12px;
      border-style: solid;
      border-width: 1px;

      color: #fff;
      text-align: center;
      line-height: 4vh;
      font-size: 2vh;
    }
  }
}

.modalContentContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;

  > span {
    @include no-text-selection;
    position: absolute;
    top: 53%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8em;
    color: #fff;
    text-align: center;
    line-height: 0.9em;
  }
}
